pkgbase = yeetbin-app
	pkgdesc = Yeet a file or stdin at a yeetbin instance and get a shareable link back
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/Kautiontape/yeetbin-app
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	depends = glibc
	conflicts = yeet
	source = yeetbin-app-0.1.0.tar.gz::https://github.com/Kautiontape/yeetbin-app/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = 68a8858e6b1bac64e51004dac5ad34813ed79111dbfd23bbd127dc1e1924a576

pkgname = yeetbin-app
